.tagContainer {
  display: flex;
  background: #fafafa;
  padding: 6px 12px 12px 12px;
  min-height: 52px;
  flex-wrap: wrap;
  border-radius: 4px;
}

.tag {
  margin-right: 10px;
  margin-top: 6px;
  display: flex;
  align-items: center;
}
